* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fondo y fuente ========================================================== */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-image: url('img/background.webp');
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

/* Encabezado ========================================================== */
header {
    height: 50px;
    display: flex;

    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.header-title {
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 20px rgba(0,0,0,0.9);
}

/* Contenido Principal ========================================================== */
.main-container {
    display: flex;
    min-height: calc(100vh - 50px);
}

/* Barra lateral */
.sidebar {
    inset: 0 auto 0 0;
    padding: 1rem;
    min-width: 300px;
    z-index: 10;

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sidebar-content {
    height: 100%;
    display: flex;
    flex-flow: column;
}

/* Información del usuario */
.user-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.user-pfp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user-box .user-pfp img {
    width: 100px;
}

/* Contenido de barra lateral ========================================================== */
.sidebar .nav-link:last-child {
    margin-top: auto;
}

.sidebar .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0.875rem;
    line-height: 1;

    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition: all 0.3s;
}

.sidebar .nav-link:hover{
    background: rgba(173, 209, 255, 0.4);
    color: black;
}

.sidebar .nav-link.active {
    background: rgba(203, 217, 255, 0.5);
    color: black;
}

.sidebar .nav-link .description {
    color: #181818;
}


.icon img {
    width:  30px;
}


/* Contenido principal ========================================================== */
.content {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content:space-around;
    align-items:center;
    
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.placeholder-text {
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    
}

/* Contador de usuarios */

.user-count, .files-count, .last-user {
    margin: 20px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user-count .topbar,
.files-count .topbar,
.last-user .topbar {
    background: rgba(231, 228, 255, 0.4);
    border: 1px solid rgba(70, 70, 70, 0.18);
    border-radius: 10px;
    color: black;
    text-shadow: 4px 4px 20px rgba(0,0,0,0.9);
}

.user-count .topbar .innertext,
.files-count .topbar .innertext,
.last-user .topbar .innertext {
    margin-left: 20px;
}

.count-content {
    gap: 0.625rem;
    padding: 0.625rem 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .user-count .icon {
    gap: 20px;
}

/* Barra de navegación de Móvil */
.mobile-navbar {
    display: none;
    width: 100vw;
    justify-content: space-around;
    z-index: 10;

    background: rgba(203, 210, 250, 0.5);
    border: 1px solid rgba(70, 70, 70, 0.18);
    color: black;
}

.mobile-navbar .user-info {
    margin: 8px;
    padding: 5px 25px 5px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: 600;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(70, 70, 70, 0.18);
    color: black;
    border-radius: 10px;
}

/* Disposición adaptativa ========================================================== */

@media only screen and (max-width:992px) {
    .sidebar {
        display: none;
    }

    .content {
        justify-content: baseline;
        align-items: flex-start;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: row;
    }

    .sidebar-content {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    
    .nav-link {
        text-decoration: none;
        margin: 8px;
        padding: 5px;
        width: 100px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(70, 70, 70, 0.18);
        color: black;
        border-radius: 10px;
        text-shadow: 4px 4px 20px rgba(0,0,0,0.9);
    }
}